In [1]:
import numpy as np
import pandas as pd

In [2]:
taxi_df=pd.read_csv('TaxiFare.csv',header=0,index_col=0)

In [3]:
taxi_df

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
unique_id,,,,,,,
26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
25:15.0,15.0,2013-06-12 23:25:15 UTC,-73.999973,40.748531,-74.016899,40.705993,1
19:18.0,7.5,2015-06-22 17:19:18 UTC,-73.984756,40.768211,-73.987366,40.760597,1
53:00.0,6.9,2011-01-30 04:53:00 UTC,-74.002698,40.739428,-73.998108,40.759483,1
09:00.0,4.5,2012-11-06 07:09:00 UTC,-73.946062,40.777567,-73.953450,40.779687,2
13:14.0,10.9,2010-01-13 08:13:14 UTC,-73.932603,40.763805,-73.932603,40.763805,1

In [4]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  object
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.1+ MB

In [5]:
taxi_df['date_time_of_pickup']=pd.to_datetime(taxi_df.date_time_of_pickup)

In [6]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  datetime64[ns, UTC]
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 3.1+ MB

In [7]:
taxi_df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734371,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [8]:
#we can observe in one place amount is in - 
#we can also observe in latitude_of_pickup there is 401,as we know latitude range is -90 to 90

In [9]:
taxi_df=taxi_df.reset_index()

In [10]:
taxi_df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [11]:
taxi_df.drop("unique_id",axis=1,inplace=True)

In [12]:
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [13]:
taxi_df[taxi_df.amount<=0]      #this much code to see the data for those whose amount is less than or equal to 0

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
2039,-2.9,2010-03-09 23:37:10+00:00,-73.789450,40.643498,-73.788665,40.641952,1
2486,-2.5,2015-03-22 05:14:27+00:00,-74.000031,40.720631,-73.999809,40.720539,1
10002,0.0,2010-02-15 14:26:01+00:00,-73.987115,40.738808,-74.005911,40.713960,1
13032,-3.0,2013-08-30 08:57:10+00:00,-73.995062,40.740755,-73.995885,40.741357,4
27891,0.0,2015-05-15 21:40:28+00:00,-74.077927,40.805714,-74.077919,40.805721,1
28839,-2.5,2013-08-11 13:39:10+00:00,-73.785260,40.648442,0.000000,0.000000,1
36722,-2.5,2015-04-30 15:19:45+00:00,-73.952187,40.790112,-73.950043,40.792839,1
42337,-5.0,2015-03-09 10:29:46+00:00,-73.990974,40.755985,-73.980820,40.759869,1
47302,0.0,2010-03-18 19:13:39+00:00,-73.942346,40.806269,-73.942463,40.806129,1

In [14]:
taxi_df[taxi_df.amount<=0].index

Int64Index([2039, 2486, 10002, 13032, 27891, 28839, 36722, 42337, 47302], dtype='int64')

In [15]:
taxi_df.drop(taxi_df[taxi_df.amount<=0].index,axis=0,inplace=True)

In [16]:
taxi_df.shape    #because we have deleted 9 observation whose amount is less than or equal to 0.

(49991, 7)

In [17]:
# extract various date time components as seperate variables
taxi_df = taxi_df.assign(hour = taxi_df.date_time_of_pickup.dt.hour, 
                         day = taxi_df.date_time_of_pickup.dt.day,
                        month = taxi_df.date_time_of_pickup.dt.month, 
                        year = taxi_df.date_time_of_pickup.dt.year, 
                        dayofweek = taxi_df.date_time_of_pickup.dt.dayofweek)

In [18]:
taxi_df.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [19]:
taxi_df.drop('date_time_of_pickup',axis=1,inplace=True)

In [20]:
taxi_df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1

In [21]:
taxi_df['latitude_of_pickup'].value_counts()

0.000000     955
41.366138     18
40.756007     10
40.763975      8
40.774047      7
            ...
40.764118      1
40.774749      1
40.758518      1
40.724528      1
40.722312      1
Name: latitude_of_pickup, Length: 36587, dtype: int64

In [22]:
taxi_df.drop(taxi_df[taxi_df.latitude_of_pickup==0].index,inplace=True)

In [23]:
taxi_df.shape

(49036, 11)

In [24]:
taxi_df['latitude_of_pickup'].value_counts().index.sort_values(ascending=True)

Float64Index([        -74.006893,          -74.00621, -74.00402700000001,
                         -73.995,         -73.992947,          -73.99184,
                      -73.988467,         -73.987585,         -73.987307,
                      -73.986968,
              ...
                        41.03249,          41.035688,          41.150487,
                       41.366138,          41.391042, 41.523216999999995,
                           41.65,          42.160275,          43.098708,
                      401.083332],
             dtype='float64', length=36586)

In [25]:
taxi_df['latitude_of_pickup'].replace(401.083332,40.1083332,inplace=True)

In [26]:
taxi_df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek
count,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000,49036.000000
mean,11.363740,-73.921654,40.703979,-73.856066,40.670447,1.669263,13.483604,15.667469,6.272963,2011.740130,3.031059
std,9.660557,2.400981,2.280142,3.243994,2.566619,1.290387,6.503392,8.659836,3.460896,1.864741,1.956120
min,0.010000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000,0.000000,1.000000,1.000000,2009.000000,0.000000
25%,6.000000,-73.992297,40.736466,-73.991315,40.735774,1.000000,9.000000,8.000000,3.000000,2010.000000,1.000000
50%,8.500000,-73.982112,40.753405,-73.980447,40.754045,1.000000,14.000000,16.000000,6.000000,2012.000000,3.000000
75%,12.500000,-73.968348,40.767739,-73.965184,40.768463,2.000000,19.000000,23.000000,9.000000,2013.000000,5.000000
max,200.000000,40.783472,43.098708,40.851027,43.415190,6.000000,23.000000,31.000000,12.000000,2015.000000,6.000000

In [27]:
#Now we will convert latitude and longitude of pickup and dropoff in Km by using haversine

In [28]:
!pip install haversine

Requirement already satisfied: haversine in c:\users\pradeepkumar verma\updated anaconda\lib\site-packages (2.8.0)

In [29]:
from haversine import haversine, Unit
#df.apply(lambda x: func(x['col1'],x['col2']),axis=1)
#haversine((lat1,long1),(lat2,long2))
taxi_df['travel_dist_km']=taxi_df.apply(lambda row: haversine((row["latitude_of_pickup"],row["longitude_of_pickup"]),
                                                              (row["latitude_of_dropoff"],row["longitude_of_dropoff"]),
                                                              unit=Unit.KILOMETERS),axis=1)

In [30]:
taxi_df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,hour,day,month,year,dayofweek,travel_dist_km
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0,1.030765
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1,8.450145
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3,1.389527
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5,2.799274
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1,1.999160

In [31]:
taxi_df.columns

Index(['amount', 'longitude_of_pickup', 'latitude_of_pickup',
       'longitude_of_dropoff', 'latitude_of_dropoff', 'no_of_passenger',
       'hour', 'day', 'month', 'year', 'dayofweek', 'travel_dist_km'],
      dtype='object')

In [32]:
taxi_df.drop(['longitude_of_pickup', 'latitude_of_pickup',
       'longitude_of_dropoff', 'latitude_of_dropoff'],axis=1,inplace=True)

In [33]:
taxi_df.head()

   amount  no_of_passenger  hour  day  month  year  dayofweek  travel_dist_km
0     4.5                1    17   15      6  2009          0        1.030765
1    16.9                1    16    5      1  2010          1        8.450145
2     5.7                2     0   18      8  2011          3        1.389527
3     7.7                1     4   21      4  2012          5        2.799274
4     5.3                1     7    9      3  2010          1        1.999160

In [34]:
X=taxi_df.values[:,1:]
Y=taxi_df.values[:,0]

In [35]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

scaler.fit(X)
X=scaler.transform(X)

In [36]:
from sklearn.model_selection import train_test_split

#Split the data into test and train
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [37]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(34325, 7)
(14711, 7)
(34325,)
(14711,)

### DecisionTree Regressor

In [38]:
#predicting using the DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(criterion='squared_error',random_state=10) #in classifer it was gini here in regression squared error and is bydefault
model_DecisionTree.fit(X_train,Y_train)

#Fit the model on the data and preduct the values
Y_pred=model_DecisionTree.predict(X_test)
#print(Y_pred)

In [39]:
model_DecisionTree.score(X_train,Y_train)

0.9999999011754527

In [40]:
#Above the accuracy is 99% for training data

In [41]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.5054342181418084
RMSE: 6.707341049541443
Adj R-square: 0.5053636062369172

In [42]:
#Here when it comes to testing data is R2 is half so it is overfitted model

### Pruning-Adding some parameters

In [43]:
#predicting using the DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(max_depth=5,min_samples_leaf=5,random_state=10) #in classifer it was gini here in regression squared error and is bydefault
model_DecisionTree.fit(X_train,Y_train)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=5, random_state=10)

In [44]:
#Fit the model on the data and preduct the values
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)

[13.58958669  7.28084342  5.49791942 ...  8.33516104  5.49791942
 12.63292757]

In [45]:
model_DecisionTree.score(X_train,Y_train)

0.7476080446835321

In [46]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7845022137366695
RMSE: 4.427512170288781
Adj R-square: 0.7844714459202413

In [47]:
print(list(zip(taxi_df.columns[1:],model_DecisionTree.feature_importances_)))   
#This show how important which variable is like here travel_dist_km shows that fare is more depend on travel_dist_km

[('no_of_passenger', 0.0), ('hour', 0.0008849198511757119), ('day', 0.00018652919850898857), ('month', 0.0), ('year', 0.021625212606397652), ('dayofweek', 0.0004607903174356224), ('travel_dist_km', 0.976842548026482)]

### Using RandomForestRegressor

In [48]:
#predicting using the RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor

model_Rf= RandomForestRegressor(n_estimators=100,random_state=10,max_depth=5,min_samples_leaf=5) 

#fit the model on the data and predict the values
model_Rf.fit(X_train,Y_train)
Y_pred=model_Rf.predict(X_test)

In [49]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7919078207039847
RMSE: 4.3507711124121204
Adj R-square: 0.7918781102272148

In [50]:
print(list(zip(taxi_df.columns[1:],model_Rf.feature_importances_)))

[('no_of_passenger', 3.127114289141726e-06), ('hour', 0.0016175530780050732), ('day', 0.00023570186352900988), ('month', 0.00027782208922142837), ('year', 0.02154534171666654), ('dayofweek', 0.0002648463169488912), ('travel_dist_km', 0.9760556078213399)]

### Using Extra Trees

In [51]:
#predicting using the Extra_Treea_Regressor
from sklearn.ensemble import ExtraTreesRegressor

model_ETR= ExtraTreesRegressor(n_estimators=100,random_state=10,bootstrap=True,max_depth=10,min_samples_leaf=5)  

#fit the model on the data and predict the values
model_ETR.fit(X_train,Y_train)

Y_pred=model_ETR.predict(X_test)
print(Y_pred)

[12.90515369  9.74195058  7.56353452 ...  8.54103994  8.17705877
 12.01377088]

In [52]:
model_ETR.score(X_train,Y_train)

0.6072723027454293

In [53]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.6049334087643743
RMSE: 5.994783587824736
Adj R-square: 0.6048770029118278

### Conclusion:-Random Forest is giving good accuracy than others